iso20022Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="urn:iso:std:iso:20022:tech:xsd:acmt.001.001.02" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.001.001.02" elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AcctOpngReq">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Message ID -->
                            <xs:element name="MsgId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="5"/>
                                        <xs:maxLength value="20"/>
                                        <xs:pattern value="[A-Za-z0-9]+"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                            <!-- Creation Date and Time -->
                            <xs:element name="CreDtTm" type="xs:dateTime"/>

                            <!-- Initiating Party -->
                            <xs:element name="InitgPty">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nm" type="xs:string"/>
                                        <xs:element name="Id">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PrvtId">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Othr">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Id" type="xs:string"/>
                                                                            <xs:element name="SchmeNm">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="Cd" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- Account Information -->
                            <xs:element name="Acct">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AcctTp">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Prtry" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Ccy">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="USD"/>
                                                    <xs:enumeration value="GBP"/>
                                                    <xs:enumeration value="EUR"/>
                                                    <xs:enumeration value="JPY"/>
                                                    <xs:enumeration value="AUD"/>
                                                    <xs:enumeration value="RUB"/>
                                                    <xs:enumeration value="CNY"/>
                                                    <xs:enumeration value="AED"/>
                                                    <xs:enumeration value="THB"/>
                                                    <xs:enumeration value="TRY"/>
                                                    <xs:enumeration value="BRL"/>
                                                    <xs:enumeration value="INR"/>
                                                    <xs:enumeration value="MXN"/>
                                                    <xs:enumeration value="NGN"/>
                                                    <xs:enumeration value="EGP"/>
                                                    <xs:enumeration value="ARS"/>
                                                    <xs:enumeration value="HKD"/>
                                                    <xs:enumeration value="KRW"/>
                                                    <xs:enumeration value="SGD"/>
                                                    <xs:enumeration value="IDR"/>
                                                    <xs:enumeration value="PKR"/>
                                                    <xs:enumeration value="PEN"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="IBAN">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z]{2}[0-9]{2}[A-Z0-9]{4,30}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- Supplementary Data -->
                            <xs:element name="SplmtryData">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PlcAndNm">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <!-- Enumeration for valid cities -->
                                                    <xs:enumeration value="New York"/>
                                                    <xs:enumeration value="Los Angeles"/>
                                                    <xs:enumeration value="London"/>
                                                    <xs:enumeration value="Paris"/>
                                                    <xs:enumeration value="Tokyo"/>
                                                    <xs:enumeration value="Sydney"/>
                                                    <xs:enumeration value="Moscow"/>
                                                    <xs:enumeration value="Beijing"/>
                                                    <xs:enumeration value="Dubai"/>
                                                    <xs:enumeration value="Shanghai"/>
                                                    <xs:enumeration value="Berlin"/>
                                                    <xs:enumeration value="Madrid"/>
                                                    <xs:enumeration value="Rome"/>
                                                    <xs:enumeration value="Bangkok"/>
                                                    <xs:enumeration value="Istanbul"/>
                                                    <xs:enumeration value="Rio de Janeiro"/>
                                                    <xs:enumeration value="Mumbai"/>
                                                    <xs:enumeration value="Mexico City"/>
                                                    <xs:enumeration value="Lagos"/>
                                                    <xs:enumeration value="Cairo"/>
                                                    <xs:enumeration value="Buenos Aires"/>
                                                    <xs:enumeration value="Hong Kong"/>
                                                    <xs:enumeration value="Seoul"/>
                                                    <xs:enumeration value="Singapore"/>
                                                    <xs:enumeration value="Delhi"/>
                                                    <xs:enumeration value="Jakarta"/>
                                                    <xs:enumeration value="Karachi"/>
                                                    <xs:enumeration value="Kolkata"/>
                                                    <xs:enumeration value="Chennai"/>
                                                    <xs:enumeration value="Lahore"/>
                                                    <xs:enumeration value="Lima"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Envlp">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Any" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
